version: 2.1
jobs:
  build:
    docker:
      - image: 'cimg/node:14.14.0'
        auth:
          username: autrydev
          password: C0vid0nFlight
    steps:
      - checkout
      - run: node --version
      - run: npm install
      - run: npm install @vue/cli-service-global
      - run: npm run build
      - run: npm install surge
      - run: ./node_modules/surge/lib/cli.js ./dist --domain covidonflight.surge.sh
workflows:
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main